.header {
    grid-area: h;
    position: sticky;
    top: 0;
    background-color: deepskyblue;
}

.header img {
    height: 60px;
    padding-left: 2px;
}

.loginBlock {
    float: right;
    margin: 10px;
}

.loginBlock a {
    color: white;
}